requests
python-dotenv
pandas
numpy
scikit-learn
joblib
hopsworks==5.0.5
pyhumps==1.6.1
avro==1.12.0
fsspec<2025.12.0
opensearch-py<=2.4.2,>=1.1.0
protobuf<5.0.0,>=4.25.4
confluent-kafka
pyjks
pyasn1
pyasn1-modules
javaobj-py3
pycryptodomex
pyarrow==24.0.0